BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BreakBeforeComma: Always
BinPackParameters: false
PackConstructorInitializers: NextLine
PenaltyReturnTypeOnItsOwnLine: 0
SortIncludes: false